@use "mixins" as m;

.btn {
 @include m.button;
 &--back {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  div {
   background-color: transparent;
  }
   &__img {
   height: 20px;
  }
 }
}