@use "./variables" as v;

body {
    height: 100%;
}

.BackToStart {
    width: 70px;
    margin-left: 290px;
    margin-bottom: 10PX;
    font-weight: 600;
    font-size: 20px;
    background: rgb(179, 160, 137);
    border-radius: 8px;
    text-align: center;
    border: 0;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .BackToStart {
        width: 80px;
        margin-left: 300px;
        font-weight: 600;
        font-size: 20px;
        background: rgb(179, 160, 137);
        border-radius: 8px;
        text-align: center;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .BackToStart {
        width: 80px;
        margin-left: 300px;
        font-weight: 600;
        font-size: 20px;
        background: rgb(179, 160, 137);
        border-radius: 8px;
        text-align: center;

    }
}

.BackToStart:hover {
    box-shadow: 0px 0px 6px 3px rgb(255, 254, 254);
    transition: 0.5s;
    cursor: pointer;
}


.cart {

    width: 94%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    background: rgb(58, 58, 58);
    box-shadow: 1px 0.5px;
    border-radius: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .cart {
        margin: auto;
        width: 60%;
        height: auto;
        padding: 20px;
        background: rgb(58, 58, 58);
        box-shadow: 1px 0.5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .cart {
        margin: auto;
        width: 38%;
        height: auto;
        padding: 20px;
        background: rgb(58, 58, 58);
        box-shadow: 1px 0.5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.cartNameInfo {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .cartNameInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 340px;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .cartNameInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 340px;
        position: absolute;
    }
}

.CartTitle {
    text-align: left;
    color: white;
    font-size: 20px;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .CartTitle {
        text-align: center;
        color: white;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .CartTitle {
        text-align: center;
        color: white;
    }
}

.infoButtonBox {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .infoButtonBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 120px;
        gap: 10px;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .infoButtonBox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }
}

.removeButton {
    background: rgb(211, 209, 209);
    border: 0;
    padding: 5px;
    cursor: pointer;
    border-radius: 6PX;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .removeButton {
        margin-left: 30%;
        position: absolute;
        background: rgb(211, 209, 209);
        border: 0;
        padding: 5px;
        cursor: pointer;
        border-radius: 8PX;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .removeButton {
        margin-left: 50%;
        position: absolute;
        margin-top: 75px;


    }
}


@media screen and (min-width:v.$tablet_breakpoint) {
    .CartProductInfo {
        position: absolute;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .CartProductInfo {
        margin-top: 90px;
        margin-left: 30%;
        position: absolute;
    }
}

.cartBox {
    background: rgb(211, 209, 209);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    position: relative;
    border-radius: 10px;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .cartBox {
        background: rgb(211, 209, 209);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        margin-top: 10px;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .cartBox {
        background: rgb(211, 209, 209);
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }
}

.cartImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 10px;
    border-radius: 50px;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .cartImg {
        width: 200px;
        height: 200px;
        object-fit: contain;
        padding: 10px;
        border-radius: 50px;

    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .cartImg {
        width: 200px;
        height: 200px;
        object-fit: contain;
        padding: 10px;
        border-radius: 50px;
    }
}

.CartProductInfo {
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .CartProductInfo {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 60px;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .CartProductInfo {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 150px;
    }
}

.CartProductName {
    font-size: 20px;
    color: black;
    float: left;
    text-align: left;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .CartProductName {
        font-size: 20px;
        color: black;
        width: 150px;

    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .CartProductName {
        font-size: 20px;
        color: black;

    }
}

.CartProductPrice {
    font-weight: 700;
    color: brown;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .CartProductPrice {
        font-weight: 700;
        color: brown;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .CartProductPrice {
        font-weight: 700;
        color: brown;
    }
}

.btnBox {
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: flex-start;
}

.CartProductQuantity {
    border: 0;
    width: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    color: black;
    border-radius: 0;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .CartProductQuantity {
        border: 1px solid;
        outline-color: maroon;
        width: 40px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: black;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .CartProductQuantity {
        border: 1px solid;
        outline-color: maroon;
        width: 40px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: black;
    }
}

.fa-regular {
    color: black;
    font-size: 32px;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .fa-regular {
        color: black;
        font-size: 32px;
        cursor: pointer;
        margin-right: 10px;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .fa-regular {
        color: black;
        font-size: 32px;
        cursor: pointer;
        margin-right: 180px;
    }
}


.checkoutButtonBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
    gap: 2px;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .checkoutButtonBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;

    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .checkoutButtonBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;

    }
}


.total {
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .total {
        color: black;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 10px;

    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .total {
        color: black;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 10px;
        float: right;
    }
}

.totalTitle {
    font-size: 20px;
    font-weight: 700;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .totalTitle {
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .totalTitle {
        font-size: 20px;
        font-weight: 700;

    }
}


.totalPrice {
    color: brown;
    font-weight: 700;
    font-size: 20px;
    margin-left: 8px;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .totalPrice {
        color: brown;
        font-weight: 700;
        font-size: 20px;
        margin-left: 8px;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .totalPrice {
        color: brown;
        font-weight: 700;
        font-size: 20px;
        margin-left: 8px;
    }
}


.buy_btn {
    font-size: medium;
    font-weight: 600;
    color: black;
    display: flex;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 5px 2px;
    background: yellowgreen;
    border: none;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .buy-btn {
        font-size: larger;
        font-weight: 600;
        color: black;
        display: flex;
        border-radius: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 2px 4px;
        background: yellowgreen;
        border: none;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .buy-btn {
        font-size: larger;
        font-weight: 600;
        color: black;
        display: flex;
        border-radius: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 2px 4px;
        background: yellowgreen;
        border: none;
        float: right;
    }
}


.buy-btn:hover {
    background: yellow;
    box-shadow: 0px 0px 6px 3px rgb(141, 140, 140);
    transition: 0.5s;
    border: 2px solid white;
    cursor: pointer;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .buy-btn:hover {
        background: yellow;
        box-shadow: 0px 0px 6px 3px rgb(141, 140, 140);
        transition: 0.5s;
        border: 2px solid white;
        cursor: pointer;
    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    .buy-btn:hover {
        background: yellow;
        box-shadow: 0px 0px 6px 3px rgb(141, 140, 140);
        transition: 0.5s;
        border: 2px solid white;
        cursor: pointer;
    }
}


#close {
    font-size: 24px;
    top: 12px;
    right: 12px;
    position: absolute;
    color: red;
    cursor: pointer;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    #close {
        font-size: 24px;
        top: 12px;
        right: 12px;
        position: absolute;
        color: red;
        cursor: pointer;

    }
}

@media screen and (min-width: v.$desktop_breakpoint) {
    #close {
        font-size: 24px;
        top: 12px;
        right: 12px;
        position: absolute;
        color: red;
        cursor: pointer;

    }
}