.promo {
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 border-radius: 5px;
 &__link {
  width: 45%;
  text-align: center;
 }
 &.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 &__prod-img {
  border-radius: 50%;
  outline: 5px solid rgb(148, 148, 255, 0.5);
 }
}