@use "mixins" as m;
@use "variables" as v;



.page {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  &--start { 
    //;

  }
  &--product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 95vw;
    @include m.desktop {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  &--cart {
    //;
  }
  &--checkout {
    //;
  }
}
.container {
 display: flex;
 flex-direction: column;
 width: 90vw; 
 padding: 20px;
 &--description, &--super {
  background-color: v.$bg_color;
 }
 &--description {
  width: 100%;
 }
 &--super {
  display: flex;
  flex-direction: column;
  @include m.tablet {
   flex-direction: row;
   gap: 2vw;
  }
  @include m.desktop {
   gap: 20px;
  }
 }
}
.prod {
 display: flex;
 flex-direction: column;
 gap: 15px;
 justify-content: center;
 align-items: left;
 @include m.desktop {
  gap: 20px;
 }
 &__img-box.container {
  @include m.tablet {
   width: 50%;
  }
 }
 &__img {
  border-radius: 50%;
 }
 &__details {
  @include m.tablet {
   display: flex;
   flex-direction: column;
   gap: 2vw;
   width: 50%;
  }
  @include m.desktop {
   gap: 20px;
  }
 }
 &__info {
  display: flex;
  flex-direction: column; 
  font-size: large;
  span:first-of-type {
   font-size: xx-large;
   font-weight: 600;
   @include m.desktop {
    font-size: 60px;
   }
  } 
  @include m.tablet {
   width: 100%;
   height: 33%; 
   gap: 10%;
   justify-content: center;
  }
 }
 &__opt-box {
  gap: 10px;
  @include m.tablet {
   width: 100%;
   height: 67%;
    justify-content: space-between;
  }
 }
 &__opt {
  display: flex;
  flex-direction: column;
  gap: 5px;
 }
 &__flav-lbl {
  font-size: larger;
  @include m.tablet {
   font-size: x-large;
  }
  @include m.desktop {
   font-size: xx-large;
  }
 };
 &__flav-sel {
  height: 30px;
 }
 &__qty {
  display: flex;
  justify-content: space-between;
  @include m.tablet {
   height: 50%;
   flex-direction: column;
   justify-content: space-between; 
  }
 }
 &__qty-container {
  width: 38%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  @include m.tablet {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: 40%;
  }
 }
 &__qty-btn {
  width: 8vw;
  height: auto;
  border-radius: 5%;
  font-size: x-large;
  border: none;
  font-weight: 600;
  background-color: white;
  outline: 2px solid white;
  @include m.tablet {
   width: 20%;
  }
  &--incr {
   outline: rgb(255, 113, 113);
   &:active {
    outline: 3px solid rgb(123, 255, 123);
   }
  }
  &--decr {
   outline:rgb(113, 255, 144);
   &:active {
    outline: 3px solid rgb(255, 86, 86);
   }
  }
  &--incr, &--decr {
   color: v.$bg_color;
   &:hover {
    background-color: rgb(227, 227, 227);
   }
   &:active {
    background-color: transparent;
    color: white;
   }
  }
 }
 &__qty-input[type=number] {
  width: 35%;
  height: 100%;
  border-radius: 3px;
  outline: 2px solid white;
  color: white;
  font-size: x-large;
  text-align: center;
  background-color: transparent;
  @include m.tablet {
   width: 50%;
  }
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
   -webkit-appearance: none;
   margin: 0;
  }
 }
 &__btn-buy {
  width: 50%;
  height: 35px;
  background-color: green;
  border-radius: 5px;
  outline: none;
  border: none;
  &:hover{
   border: none;
   outline: 3px solid hsl(136, 100%, 57%);
  }
  @include m.tablet {
   width: 100%;
   height: 45%;
  }
 }
 &__description {
  border: 3px solid #2a2b2c;
 }
}

.promo {
 &__link {
  width: 45%;
  text-align: center;
 }
 &.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @include m.tablet {
   flex-wrap: nowrap;
   gap: 2vw;
  }
  @include m.desktop {
   flex-wrap: nowrap;
   gap: 20px;
  }
 }
 &__prod-img {
  border-radius: 50%;
  outline: 5px solid rgb(148, 148, 255, 0.5);
 }
 &__heading {
  margin-top: 20px;
  margin-bottom: 5px;
 }
}