@use "./variables" as v;

@mixin button {
  background-color: transparent;
  color: white;
  width: 85px;
  border: none;
  font-size: large;
  &:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
  }
}

@mixin tablet {
 @media screen and (min-width: v.$tablet_breakpoint) {
   @content;
 }
}

@mixin desktop {
 @media screen and (min-width: v.$desktop_breakpoint) {
   @content;
 }
}

