@use "./variables" as v;

@mixin button {
  background-color: transparent;
  color: white;
  width: 85px;
  border: none;
  font-size: large;
  &:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
  }
}

@mixin tablet {
 @media screen and (min-width: v.$tablet_breakpoint) {
   @content;
 }
}

@mixin desktop {
 @media screen and (min-width: v.$desktop_breakpoint) {
   @content;
 }
}

@mixin homepage {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 60px;
    background: #2c2b2b;
}


.hero_img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 200px;
}
@media screen and (min-width:v.$tablet_breakpoint) {
    .hero_img {
        width: 92%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        height: 500px;
    }
}


@media screen and (min-width: v.$desktop_breakpoint) {
    .hero_img {
    width: 91%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 700px;
    margin-bottom: 40px;

    }
}

.product_box_start_page {
    margin-top: 5px;
    width: auto;
    height: auto;
    background: #212122;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .product_box_start_page {
        width: auto;
        height: auto;
        background: #212122;
        margin-top: 10px;

    }
}


@media screen and (min-width: v.$desktop_breakpoint) {
    .product_box_start_page {
        width: auto;
        height: auto;
        background: #212122;
        margin-top: 10px;

    }
}

.product_box {
    width: 45.3%;
    height: 240px;
    background: #2A2B2C;
    margin: 2px 5px 2px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


@media screen and (min-width:v.$tablet_breakpoint) {
    .product_box {
        width: 30%;
        height: 250px;  
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}


@media screen and (min-width: v.$desktop_breakpoint) {
    .product_box {
        width: 30%;
        height: 250px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.img_item {
    border-radius: 50%;
    margin-left:auto;
    margin-right: auto;
    }
    @media screen and (min-width:v.$tablet_breakpoint) {
        .img_item {
            width: 40%;
            height: 40%;
            margin-left:auto;
            margin-right: auto;
    
        }
    }
    
    
    @media screen and (min-width: v.$desktop_breakpoint) {
        .img_item {
            width: 180px;
            height: 180px;
            margin-left:auto;
            margin-right: auto;
        }
    }

   

.product_info {
    width: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
}

.a_prod_name {
    color: white;
    font-size: 14px;
    margin-left: 5px;


}

.txt_paragraph {
    color: rgb(177, 0, 0);
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}


.banner {
    width: 92%;
    height: 70px;
    margin-top: 2px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 5px;
    background-image: url(../assets/startPage/myProteinOffer3.png);
    background-size: 75%;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .banner {
        width: 92%;
        height: 100px;
        background-image: url(../assets/startPage/myProteinOffer3.png);
        background-size: 40%;
        margin-bottom: 10px;

        }
    }


    @media screen and (min-width: v.$desktop_breakpoint) {
    .banner {
        width: 40.5%;
        height: 300px;
        background-image: url(../assets/startPage/myProteinOffer3.png);
        background-size: 110%;
        margin-bottom: 15px;
        margin-top: 15px;

        }
    }

.slide_box {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 92%;
    height: 200px;
    background-image: url(../assets/startPage/excel-protein-banner-1024x347.jpg);
    background-size: 100%;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .slide_box {
        width: 92%;
        height: 400px;
        background-image: url(../assets/startPage/excel-protein-banner.jpg);
        background-size: 138%;

        }
    }


    @media screen and (min-width: v.$desktop_breakpoint) {
    .slide_box {
        width: 50%;
        height: 300;
        background-image: url(../assets/startPage/tesla-whey-charger.jpg);
        background-size: 100%;
        margin-left: 10px;

        }
    }



.button_container {
    display: block;
    width: 100%;
}



.input_number {
    width: 40%;
    border: 1px;
    text-align: center;
    color: #000000;

}


.btn_add_to_cart {
    border-radius: 8px;
    background: #008000;
    border: 0;
    margin-right: 5px;
    margin-left: 5px;
    &:hover {
        border: 2px solid white;
        cursor: pointer;
      }
}

.btn_minus,
.btn_plus {
    width: 30%;
    background: #008000;
    border-radius: 5px;
    border: 0;
    &:hover {
        border: 3px solid rgb(255, 255, 255);
        cursor: pointer;
      }
}
}

@mixin productpage {
  
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 95vw;
  @include m.desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
  .page {
    
    &--product {
      display:  flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: left;
      @include m.desktop {
        gap: 20px;
      }
      &__img-box.container {
        @include m.tablet {
          width: 50%; 
        }
      }
      &__img {
        border-radius: 50%;
      }
      &__info {
        @include m.tablet {
          display: flex;
          flex-direction: column;
          gap: 2vw;
          width: 50%;
        }
        @include m.desktop {
          gap: 20px;
        }
      }
      &__details {
        display: flex;
        flex-direction: column; 
        font-size: large;
        span:first-of-type {
          font-size: xx-large;
          font-weight: 600;
          @include m.desktop {
            font-size: 60px;
          }
        } 
        @include m.tablet {
          width: 100%;
          height: 33%; 
          gap: 10%;
          justify-content: center;
        }
      }
      &__opt-box {
        gap: 10px;
        @include m.tablet {
          width: 100%;
          height: 67%;
          justify-content: space-between;
        }
      }
      &__opt {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      &__flav-lbl {
        font-size: larger;
        @include m.tablet {
          font-size: x-large;
        }
        @include m.desktop {
          font-size: xx-large;
        }
      };
      &__flav-sel {
        height: 30px;
      }
      &__qty-container {
        display: flex;
        justify-content: space-between;
        @include m.tablet {
          height: 50%;
          flex-direction: column;
          justify-content: space-between; 
        }
      }
      &__qty-label {
        width: 38%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        @include m.tablet {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          height: 40%;
        }
      }
      &__qty-btn {
        width: 8vw;
        height: auto;
        border-radius: 5%;
        font-size: x-large;
        border: none;
        font-weight: 600;
        background-color: white;
        outline: 2px solid white;
        @include m.tablet {
          width: 20%;
        }
        &--incr {
          outline: rgb(255, 113, 113);
          &:active {
            outline: 3px solid rgb(123, 255, 123);
          }
        }
        &--decr {
          outline:rgb(113, 255, 144);
          &:active {
            outline: 3px solid rgb(255, 86, 86);
          }
        }
        &--incr, &--decr {
        color: v.$bg_color;
        &:hover {
          background-color: rgb(227, 227, 227);
        }
        &:active {
          background-color: transparent;
          color: white;
        }
        }
      }
      &__qty-input[type=number] {
        width: 35%;
        height: 100%;
        border-radius: 3px;
        outline: 2px solid white;
        color: white;
        font-size: x-large;
        text-align: center;
        background-color: transparent;
        @include m.tablet {
          width: 50%;
        }
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
          -webkit-appearance: none;
          margin: 0;
        }
      }
      &__btn-buy {
        width: 50%;
        height: 35px;
        background-color: green;
        border-radius: 5px;
        outline: none;
        border: none;
        &:hover{
        border: none;
        outline: 3px solid hsl(136, 100%, 57%);
        }
        @include m.tablet {
        width: 100%;
        height: 45%;
        }
      }
      &__description {
        border: 3px solid #2a2b2c;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90vw; 
    padding: 20px;
    &--description, &--super {
      background-color: v.$bg_color;
    }
    &--description {
      width: 100%;
    }
    &--super {
      display: flex;
      flex-direction: column;
      @include m.tablet {
        flex-direction: row;
        gap: 2vw;
      }
      @include m.desktop {
        gap: 20px;
      }
    }
  }
  .promo {
    &__link {
      width: 45%;
      text-align: center;
    }
    &.container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      @include m.tablet {
      flex-wrap: nowrap;
      gap: 2vw;
      }
      @include m.desktop {
      flex-wrap: nowrap;
      gap: 20px;
      }
    }
    &__prod-img {
      border-radius: 50%;
      outline: 5px solid rgb(148, 148, 255, 0.5);
    }
    &__heading {
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
}
}