@use "./variables" as v;
html {
 box-sizing: border-box;
 overflow-x: hidden;
 font-size: large;
}

body {
 background-color: v.$bg_color;
 padding: 30px 10px;
}

*, *:before, *:after {
 box-sizing: inherit;
 margin: 0;
 padding: 0;
}

ol, ul {
 list-style: none;
}

img {
 max-width: 100%;
 height: auto;
}

div {
 background-color: #2a2b2c;
}
input, button, select {
 height: 30px;
}
