@use "./variables" as v;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 60px;
    background: #2c2b2b;
}


.hero_img{
    width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 200px;
}
@media screen and (min-width:v.$tablet_breakpoint) {
    .hero_img {
        width: 92%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        height: 500px;
    }
}


@media screen and (min-width: v.$desktop_breakpoint) {
    .hero_img {
    width: 91%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 700px;
    margin-bottom: 40px;

    }
}

.product_box_start_page {
    margin-top: 5px;
    width: auto;
    height: auto;
    background: #212122;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .product_box_start_page {
        width: auto;
        height: auto;
        background: #212122;
        margin-top: 10px;

    }
}


@media screen and (min-width: v.$desktop_breakpoint) {
    .product_box_start_page {
        width: auto;
        height: auto;
        background: #212122;
        margin-top: 10px;

    }
}

.product_box {
    width: 45.3%;
    height: 240px;
    background: #2A2B2C;
    margin: 2px 5px 2px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


@media screen and (min-width:v.$tablet_breakpoint) {
    .product_box {
        width: 30%;
        height: 250px;  
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}


@media screen and (min-width: v.$desktop_breakpoint) {
    .product_box {
        width: 30%;
        height: 250px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.img_item {
    border-radius: 50%;
    margin-left:auto;
    margin-right: auto;
    }
    @media screen and (min-width:v.$tablet_breakpoint) {
        .img_item {
            width: 40%;
            height: 40%;
            margin-left:auto;
            margin-right: auto;
    
        }
    }
    
    
    @media screen and (min-width: v.$desktop_breakpoint) {
        .img_item {
            width: 180px;
            height: 180px;
            margin-left:auto;
            margin-right: auto;
        }
    }

   

.product_info {
    width: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
}

.a_prod_name {
    color: white;
    font-size: 14px;
    margin-left: 5px;


}

.txt_paragraph {
    color: rgb(177, 0, 0);
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}


.banner {
    width: 92%;
    height: 70px;
    margin-top: 2px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 5px;
    background-image: url(../assets/startPage/myProteinOffer3.png);
    background-size: 75%;
}

@media screen and (min-width:v.$tablet_breakpoint) {
    .banner {
        width: 92%;
        height: 100px;
        background-image: url(../assets/startPage/myProteinOffer3.png);
        background-size: 40%;
        margin-bottom: 10px;

        }
    }


    @media screen and (min-width: v.$desktop_breakpoint) {
    .banner {
        width: 40.5%;
        height: 300px;
        background-image: url(../assets/startPage/myProteinOffer3.png);
        background-size: 110%;
        margin-bottom: 15px;
        margin-top: 15px;

        }
    }

.slide_box {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 92%;
    height: 200px;
    background-image: url(../assets/startPage/excel-protein-banner-1024x347.jpg);
    background-size: 100%;

}

@media screen and (min-width:v.$tablet_breakpoint) {
    .slide_box {
        width: 92%;
        height: 400px;
        background-image: url(../assets/startPage/excel-protein-banner.jpg);
        background-size: 138%;

        }
    }


    @media screen and (min-width: v.$desktop_breakpoint) {
    .slide_box {
        width: 50%;
        height: 300;
        background-image: url(../assets/startPage/tesla-whey-charger.jpg);
        background-size: 100%;
        margin-left: 10px;

        }
    }



.button_container {
    display: block;
    width: 100%;
}



.input_number {
    width: 40%;
    border: 1px;
    text-align: center;
    color: #000000;

}


.btn_add_to_cart {
    border-radius: 8px;
    background: #008000;
    border: 0;
    margin-right: 5px;
    margin-left: 5px;
    &:hover {
        border: 2px solid white;
        cursor: pointer;
      }
}

.btn_minus,
.btn_plus {
    width: 30%;
    background: #008000;
    border-radius: 5px;
    border: 0;
    &:hover {
        border: 3px solid rgb(255, 255, 255);
        cursor: pointer;
      }
}
