// Color palette
$bg_color : #212122;
$mg_color : #333c3e;
$fg_color : #ffffff;
$primary_color : rgba(2, 197, 204, 0.8);
$success_color : #24d5a9;

// Breakpoints
$tablet_breakpoint : 768px;
$desktop_breakpoint : 1200px;
